html {
    height: 100%;
}
  
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    position: relative;
    background-color: #D3D3D3;
  }
  
.main-header {
    padding-bottom: 15%;
    width: 100%;
    background-size: cover;
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
    position: relative;
    text-align: center;
}

/* ここから */
.header {
    height: 50px;
    background-color: #2B2B2B;
}

.header ul {
    margin: 0;
    padding: 0;
}

.header ul a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.header li {
    list-style: none;
}

div.left {
    float: left;    
}

.left li{
    float: left;
    width: auto;
}

div.right {
    float: right;
}

.right li{
    float: left;
    width: auto;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
/* ここまでがheader部分の実装 */

.wrapper{
    padding-bottom: 70px;
}

.main-header img {
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
    width: 13%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    position: absolute;
}

.about {
/* About Achieve部分の実装 */
    padding: 20px;
    font-size: 0.8rem; 
    background-color: #fff;
}

.about h1 {
    font-size: 1.5rem;
}

/* ここから */
.function {
    background-color: #D3D3D3;
    padding: 20px;
}

.function h1 {
    font-size: 1.5rem;
}

.function-images {
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    display: table;
}

.function-image {
    display: table-cell;
    padding: 10px;
}

.function-image img {
    width: 60%;
}

.function-image p {
    font-size: 0.8rem; 
}

/* ここまでがfunction部分の実装 */

.footer {
/* footer部分の実装 */
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #283A4B;
    display: table;
}

.footer div {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.footer p {
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    margin: 0;
  }